<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>9660797566-9isvtolvn5a54ropg7627or7c5udms5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9660797566-9isvtolvn5a54ropg7627or7c5udms5v</string>
	<key>API_KEY</key>
	<string>AIzaSyDjvVuxFghEr3Rlx1X93l01XVtIGCH2hzc</string>
	<key>GCM_SENDER_ID</key>
	<string>9660797566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tryswift.swiftychat</string>
	<key>PROJECT_ID</key>
	<string>swiftychat-b02dd</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftychat-b02dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:9660797566:ios:9ac2a9498d019f24</string>
	<key>DATABASE_URL</key>
	<string>https://swiftychat-b02dd.firebaseio.com</string>
</dict>
</plist>